@charset "gb2312";
/* CSS Document */

/*清零*/
body,div,ol,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,input,p,form,img{ padding:0; margin:0; font-weight:normal;}
body{ font-size:14px; font-family:"微软雅黑",Verdana,Arial,"宋体","微软雅黑";}
img{ border:none; outline:none;}
input,select,textarea{ outline:none; border:none; background:#FFF;resize:none;}
ul,ol{ list-style-type:none;}
a{ outline:none; text-decoration:none; color:#000;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;}
p{ line-height:25px;}
em,i,strong,b,small{font-style:normal; font-weight:normal;}
a,span,b,em,i,strong,small,label,img{display:inline-block;}
em{transition:all 1s;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;}

/*清楚浮动*/
.clearFix{ clear:both;*zoom:1;}

/*公用的样式*/
.fl{ float:left;}
.fr{ float:right;}
.commonWidth{ width:100%; margin:0 auto; overflow:hidden;}
.commonWidth_980{ width:980px; margin:0 auto; overflow:hidden;}
.commonWidth_1000{ width:1000px; margin:0 auto; overflow:hidden;}
.commonWidth_1100{ width:1100px; margin:0 auto; overflow:hidden;}
.commonWidth_grey{ width:100%;   margin:0 auto; overflow:hidden; background:#f4f4f3;}

/*HTML5兼容处理*/
header,nav,article,section,aside,footer,video,audio{display:block;}

/*---------------------------------head-----------------------------------------*/
.head_box{ background:url(../images/head.png) center center no-repeat; height:144px;}
.head{ position:relative; height:100%;}
.head_btn,.head_home{ position:absolute; height:46px; width:158px; top:66px;}
.head_btn{ left:440px;}
.head_home{ left:600px;}

/*---------------------------------banner---------------------------------------*/
.banner{ background:url(../images/banner.jpg) center center no-repeat; position:relative; height:552px;}
.banner .head_btn{ width:100%; left:0; top:450px; height:70px;}

/*expert*/
.til{ margin:30px 0; text-align:center;}
.expert_word{ width:570px; margin-right:30px;}
.expert_word h2{ padding-bottom:20px; border-bottom:1px dashed #999;}
.expert_word strong{ font-size:16px; font-weight:bold; background:url(../images/icon1_03.png) left center no-repeat; padding-left:20px; margin:10px 0 10px -20px;}
.expert_word p{ font-size:14px; color:#646464; padding-bottom:20px;}
.expert_btn{ display:block; width:100%; text-align:center; margin:25px 0; float:left;}
.experts{ background:url(../images/experts_03.jpg) center center no-repeat; height:495px;}

/*care*/
.care h2{ font-size:24px; margin:15px 0 10px;}
.care p{ font-size:15px; color:#222222; padding-bottom:10px;}
.care strong{ color:#000; font-weight:bold;}
.care_img{ position:relative; background:url(../images/care_03.jpg) center center no-repeat; height:569px;}
.care_img .head_btn{ width:100%; left:0; top:476px; height:70px;}

/*happiness*/
.happiness_word{ width:493px; height:297px; position:relative;}
.happiness_word p{ text-indent:30px; font-size:16px; padding-top:80px;}
.happiness_word a{ position:absolute; right:10px; bottom:10px;}
.dashed_line{ height:0px; width:100%; border-bottom:1px dashed #999; margin:30px 0; float:left;}

/*complete*/
.complete a{ width:868px; display:block; margin:0 auto;}

/*security*/
.security_left{ float:left; width:50%; background:#f5f5f5; text-align:right; padding:20px 0 40px;}
.security_right{ float:right; width:50%; background:#e7e7e7; text-align:left; padding:20px 0 40px;}

/*choice*/
.choice ol{ height:280px; margin-left:8px;}
.choice ol li{ width:180px; height:50px; position:relative; background:#dcddde; margin-bottom:7px;}
.choice ol .li_active{ background:#ea3f72; color:#FFF;}
.choice ol li .three{ display:none; width:0px; height:0px; border:11px solid; border-color:#fff #fff #fff #dcddde; position:absolute; right:-22px; top:14px;}
.choice ol li .three_actvie{ display:block; border-color:#fff #fff #fff #ea3f72;}
.choice ol em{ margin:10px 5px 0px 20px; width:30px; height:30px; transition:0.3s;}
.choice ol .choice0{ background:url(../images/icon.png) -36px -1584px;}
.choice ol .choice00{ background:url(../images/icon.png) -36px -1620px;}
.choice ol .choice1{ background:url(../images/icon.png) -36px -1656px;}
.choice ol .choice11{ background:url(../images/icon.png) -36px -1692px;}
.choice ol .choice2{ background:url(../images/icon.png) -36px -1728px;}
.choice ol .choice22{ background:url(../images/icon.png) -36px -1764px;}
.choice ol .choice3{ background:url(../images/icon.png) -36px -1800px;}
.choice ol .choice33{ background:url(../images/icon.png) -36px -1836px;}
.choice ol .choice4{ background:url(../images/icon.png) -36px -1872px;}
.choice ol .choice44{ background:url(../images/icon.png) -36px -1908px;}
.choice ol span{ height:40px;}
.choice ol strong{ font-size:16px;}
.choice ol i{ font-size:12px;}
.choice ul{ height:280px; overflow:hidden; width:780px; margin-right:8px;}
.choice ul li{ height:100%; overflow:hidden; display:none;}
.choice ul .li_active{ display:block;}
.choice_word{ width:330px; position:relative; height:280px; background:#f0f0f0; padding:0 20px;}
.choice_word h2{ font-size:24px; margin:10px 0;}
.choice_word p{ text-indent:30px;}
.choice_btn{ position:absolute; right:10px; bottom:10px;}
.choice_btn a{ width:38px; height:38px; margin-right:10px;}
.choice_a1{ background:url(../images/icon.png) -36px -1350px no-repeat;}
.choice_a1:hover{ background:url(../images/icon.png) -36px -1412px no-repeat;}
.choice_a2{ background:url(../images/icon.png) -36px -1476px no-repeat;}
.choice_a2:hover{ background:url(../images/icon.png) -36px -1532px no-repeat;}







/*---------------------------------footer---------------------------------------*/
.footer_box{ width:100%;background:#e3e3e3; border-top:3px solid #d33651;}
.footer{ padding:30px 0; width:1150px; margin:0 auto; overflow:hidden;}
.footer img{ margin-left:50px; display:inline;}
.footer_word{ width:370px; padding:0 50px; color:#3d4047;}
.footer_word p{ line-height:33px;}
.footer_icon h2{ color:#d33651; font-size:18px; padding-bottom:60px;}
.footer_icon a{ display:inline-block; width:74px; text-align:center; color:#3d4047;}
.footer_icon a:hover{ color:#d33651;-moz-transform:scale(1.2,1.2);}
.footer_icon img{ display:block; width:40px; margin:0 auto; padding-bottom:5px;}