/* CSS Document */
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,   /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */ th, td, /* table elements 表格元素 */ img/* img elements 图片元素 */ { border:medium none; margin: 0; padding: 0; list-style-type: none; }
/** 设置默认字体 **/
body, button, input, select, textarea { font: 12px/1.5 '微软雅黑', tahoma, Srial, helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em { font-style:normal; }
/** 重置列表元素 **/
ul, ol, {
list-style: none;
}
/** 重置超链接元素 **/
a { text-decoration: none; color:#333; }
a:hover { text-decoration: underline; color:#F40; }
/** 重置图片元素 **/
img { border:0px; }
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; clear:}
.fl { float:left }
.fr { float:right }
.ml10 { margin-left:10px }
.mr10 { margin-right:10px }
.pt20 { padding-top:20px }
.w1000 { width:1000px; margin:0 auto }
.top { height:115px; width:100%; background-color:#004c89; border-bottom:#dcdcdc 7px solid }
.con { width:100%; height:auto; background-color:#000; overflow:hidden; }

/*case*/
.case{ padding-top:120px; overflow:hidden;}
.til{ font-size:45px; color:#fff; text-align:right; padding-bottom:80px;}
.til img{ margin:0 50px 0 35px; vertical-align:bottom;}
.case li{ width:134px; height:134px; position:relative; left:340px; margin:80px 0 260px; text-align:center; line-height:134px; color:#fff; font-size:24px; background:url(../images/li_bg_03.png) center center no-repeat;}
.case .bImg{ position:absolute; left:170px; top:-80px;}
.case .dashed_line,.case .dashed_line_last,.case .dashed_line_first{ width:0px; border-left:1px dashed #fff; position:absolute; left:67px;}
.case .dashed_line{ top:-260px; height:260px;}
.case .dashed_line_last{ bottom:-150px; height:150px;}
.case .dashed_line_first{ top:-100px; height:100px;}
.case .triangle{ background:url(../images/triangle_03.png) center center no-repeat; width:14px; height:26px; position:absolute; left:-40px; top:54px;}
.case li span{ line-height:33px; text-align:left; padding:10px; width:280px; background:#FFF; border-radius:10px; display:block; position:absolute; left:-340px;}
.case li span p{ line-height:33px; text-align:left; font-size:16px; color:#4b4b4b;}




/*============foot=====================*/
.careful { height:35px; width:100%; background-color:#ffae24 }
.careful p { line-height:35px; font-size:14px; }
.banquan { width:100%; background-color:#646464; height:235px }
.banquan .dizhi { border-left: 1px solid #505050; border-right: 1px solid #505050; padding:10px 35px; width:468px }
.banquan .dizhi p { color:#dcdcdc; font-size:16px; line-height:33px; }
.banquan .dizhi em { line-height:33px; width:80px }
.beian { width:100%; background-color:#005aa2; height:80px; line-height:35px; text-align:center }
.beian p { color:#dcdcdc; font-size:16px; line-height:35px; }
