@charset "gb2312";
/* CSS Document */
/*********************************
 *rookie QQ:1123486116
 *rookie making
 *rookie Copyright
**********************************/
/*banner*/
.banner{ border-top:1px solid #9a9a9a; border-bottom:1px solid #9a9a9a;}

/*notice*/
.notice img{ margin:10px 0;}
.notice p{ line-height:24px; padding:0 20px; font-size:1.4rem;}

/*nav*/
nav ol{ margin-top:20px;}
nav li{ float:left; margin:0 9px;}
nav li p{ font-size:1.4rem; color:#333333; text-align:center; margin-top:8px;}
nav li img{ width:62px; height:62px; transition:1s;}

/*time*/
.time .img{ text-align:center;}
.time .img img{ margin-bottom:10px;}
.time .img a{ margin-bottom:10px;}
.time .img a img:last-child{ margin-bottom:0;}
.time .img img:last-child{ margin-bottom:20px;}

/*wrong*/
.wrong .btns{ margin-top:20px;}
.wrong ul{ padding:0 3px;}
.wrong li{ float:left; margin-bottom:2px;}
.wrong li:nth-child(odd){ float:left;}
.wrong li:nth-child(even){ float:right;}

/*reliable*/
.reliable .img img:first-child{ margin-bottom:20px;}
.reliable .btns{ width:250px; margin:20px auto;}

/*harm*/
.harm .img{ display:block; margin:0 auto 14px; text-align:center;}
.harm .btns{ margin-top:20px;}
.harm p{ font-size:14px;  color:#333333; line-height:26px; padding:0 20px;}
.harm strong{color:#5d5d5d; font-weight:bold;}
.harm h5{ font-size:1.4rem; color:#333333; text-align:center; margin-top:8px;}

/*safe*/
.safe .img{ display:block; margin:0 auto 14px; text-align:center;}
.safe .btns{ margin-top:20px;}
.safe p{ font-size:14px;  color:#333333; line-height:26px; padding:0 20px; padding-bottom:14px; margin-bottom:20px; border-bottom:1px dashed #9a9a9a;}
.safe strong{color:#5d5d5d; font-weight:bold;}

/*expert*/
.expert dl{ margin-bottom:20px;}
.expert dd{ width:170px;}
.expert dd p{ padding:0; font-size:1.2rem; line-height:30px;}
.expert p{ font-size:14px;  color:#333333; line-height:26px;}
.expert strong{color:#5d5d5d; font-weight:bold;}
.expert .btns{ margin-top:20px;}
.expert dt{ position:relative;}
.expert dt h3{ background:#de8ca2; text-align:center; color:#fff; font-size:16px; height:20px; line-height:20px; width:100%; position:absolute; left:0; bottom:0;}

/*footer*/
footer a{ display:block; font-size:16px; text-align:center; color:#fff; height:46px; line-height:46px; border-radius:10px;}
footer a p:nth-of-type(1){ font-size:14px; line-height:18px; padding-top:4px;}
footer a p:nth-of-type(2){ font-size:18px; line-height:20px;}
footer a:nth-of-type(1){ background:#d55675; margin:30px 0 10px;}
footer a:nth-of-type(2){ background:#ff9900; margin-bottom:30px;}
footer h3{ line-height:24px; text-align:center; font-size:14px; color:#444444;}
footer h3:last-child{ margin-bottom:80px;}

/*common*/
.til{  width:320px; margin:30px auto 20px;}
.til dl{ color:#c5254d; border-bottom:1px solid #c5254d;}
.til dt{ float:left; font-size:20px; height:28px; line-height:28px; border-bottom:3px solid #c5254d; margin:0 6px -2px 0;}
.til dd{ float:left; font-size:16px; height:28px; line-height:28px;}
.noBb{ border-bottom:none !important;}
.noMb{ margin-bottom:0 !important;}
.btns{ display:block; height:44px; line-height:44px; width:220px; text-align:center; font-size:1.6rem; background:#ff5a00; color:#fff; border-radius:10px; margin:0 auto;}









