@charset "gb2312";
/* CSS Document */
/*********************************
 *rookie QQ:1123486116
 *rookie making
 *rookie Copyright
**********************************/
/*banner*/
#banner{ position:relative;}
#banner ol{ position:absolute; width:100%; bottom:0; left:0; text-align:center; z-index:5;}
#banner ol li{ width:13px; height:13px; margin:5px; background:#fff; float:left; border-radius:50%;}
#banner ol li.on{ background:#47aab6;}

/*define*/
#define{ color:#fff; font-size:2.4rem; line-height:1.4; background:#5e2d05; padding:5px; text-indent:8%;}
#define strong{ display:inline; font-size:3.2rem; margin-right:5px;}

/*content*/
.content{ width:95.3125%; margin:0 auto; overflow:hidden;}

/*marry*/
#marry dl{ background:#f1f1f1;}
#marry dl.reset>:nth-child(n){ width:100%;}
#marry center{ margin:8% 0;}
#marry dt{ width:50%;}
#marry dd{ width:50%; box-sizing:border-box; padding:3%; text-indent:6%; font-size:2.4rem; line-height:1.2; color:#666666;}

/*explant*/
#explant article{ background:#f1f1f1; margin-bottom:6.25%;}
#explant h2{ font-size:3.3rem; color:#5e2d05; text-align:center; line-height:2;}
#explant p{ font-size:2.4rem; color:#676767; text-indent:8%; line-height:1.2; padding:3%; padding-top:0;}
#explant dt{ width:42%;}
#explant dd{ width:52%;}
#explant dd h2{ text-align:left; margin-top:3%;}
#explant dd p{ text-align:left; text-indent:0; padding:0;}

/*case*/
#case dl{ font-size:2.4rem; color:#676767; line-height:1.4;}
#case dl:first-child{ margin-bottom:7%; padding-bottom:7%; border-bottom:1px dashed #b8b8b8;}
#case dt{ width:45%;}
#case dd{ width:55%;}
#case h2{ width:70%; background:#b13d46; text-align:center; box-shadow:-10px -10px 0 #efd8da; color:#fff; margin:5%;}
#case strong{ font-weight:bold; color:#5e2d05;}

/*good*/
#good dl{ background:#f1f1f1;}
#good dl.reset>:nth-child(n){ width:100%;}
#good center{ margin:8% 0;}
#good dt{ width:39%;}
#good dd{ width:61%; box-sizing:border-box; padding:3%; text-indent:6%; font-size:2.4rem; line-height:1.2; color:#666666;}
#good div.tils{ color:#5e2d05; text-align:center; margin:5% 0;}
#good div.tils h2{ border-bottom:1px solid #676767;}
#good div.tils strong{ font-size:3.6rem; position:relative; width:11.8%;}
#good div.tils i{ position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; line-height:1.3; font-weight:bold;}
#good div.tils h3{ font-size:3rem; line-height:1.4; font-weight:bold;}

/*contrast*/
#contrast{ position:relative;}
#contrast .prev,#contrast .next{ position:absolute; left:0; top:50%; width:3.7%; margin-top:-3.125%;}
#contrast .next{ left:auto; right:0;}
#contrast ul{ width:88%; margin:0 auto;}

/*key*/
#key dt img{ width:100%;}
#key article{ background:#f1f1f1; margin-bottom:6.25%; font-size:2.4rem; color:#676767; text-indent:8%; line-height:1.2; padding:3%;}
#key dl{ margin-bottom:3%; background:#7e5737;}
#key dl:last-child{ margin-bottom:0;}
#key dt{ width:38.8%;}
#key dd{ width:61.2%; color:#fff; font-size:3rem; line-height:1.8; box-sizing:border-box; padding-left:3%;}
#key dd p{ font-size:2.4rem; line-height:1.6;}

/*til*/
.til{ text-align:center; line-height:1.2; margin:9.375% 0 6.25%; position:relative;}
.til:after{ content:""; display:block; width:100%; height:1px; background:#b6b6b6; position:absolute; left:0; top:50%; z-index:-1;}
.til hgroup{ display:inline-block; padding:0 3%; position:relative; background:#fff;}
.til hgroup:before,.til hgroup:after{ content:""; display:block; width:3%; border:6px solid #cfa972; position:absolute; height:100%; box-sizing:border-box;}
.til hgroup:before{ left:5px; top:0; border-right:none;}
.til hgroup:after{ right:5px; top:0; border-left:none;}
.til h2{ font-size:3.6rem; color:#5e2d05;}
.til h3{ font-size:1.5rem; color:#b6b6b6; text-transform:uppercase;}

/*btn*/
.btn{ margin-top:10%; position:relative;}
.btn a{ width:50%; height:100%; position:absolute; left:0; top:0;}
.btn a:last-of-type{ left:auto; right:0;}

/*media*/
@media (min-width: 480px) and (max-width: 639px){
	.til hgroup:before,.til hgroup:after{ border:3px solid #cfa972;}
	.til hgroup:before{ border-right:none;}
	.til hgroup:after{ border-left:none;}	
}
@media (min-width: 320px) and (max-width: 479px){
	.til hgroup:before,.til hgroup:after{ border:1px solid #cfa972;}
	.til hgroup:before{ border-right:none;}
	.til hgroup:after{ border-left:none;}
}