//zero
body, p, div, h1, h2, h3, h4, h5, h6, form, ul, ol, menu, li{
        margin:0;
        padding:0;
}
//noList
ul, ol, menu{
        list-style-type:none;
}
//clearFix
.clearFix{
        clear:both;
        &:after{
                content:'';
                display:block;
                height:0;
                overflow:hidden;
                visibility:hidden;
                font-size:0;
                line-height:0;
                clear:both;
        }
}