@charset "gb2312";
/* CSS Document */
/*********************************
 *rookie QQ:1123486116
 *rookie making
 *rookie Copyright
**********************************/
/*zero*/
html{ font-size:62.5%;}
body,div,menu,ol,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,input,p,form,header,nav,article,section,aside,footer,video,audio,figure,textarea{ padding:0; margin:0;}
input,select,textarea,img,area{ outline:none; border:none;}
input,select,textarea{ background:#FFF;}
mark{ background:none;}
img{ vertical-align:middle; width:100%;}
textarea{ resize:none;}
menu,ul,ol{ list-style-type:none;}
body{ font-family:"微软雅黑"; line-height:1;}
em,i,strong,b,small,h1,h2,h3,h4,h5,h6,address{ font-style:normal; font-weight:normal; font-size:100%;}
span,b,em,i,strong,small,label,a,mark{ display:inline-block;}
em,i,strong,b,small,span,li,a,mark{ transition:all 0.4s;}
ul li{ transition:0s;}
a{ text-decoration:none; outline:none; color:inherit;}
/*clearFix*/
.clearFix{ clear:both; *zoom:1;}
.clearFix:after{ clear:both; display:block; visibility:hidden; height:0; line-height:0; content:""; font-size:0;}
/*common*/
.fl{ float:left;}
.fr{ float:right;}
/*noSpacing*/
.noMt{ margin-top:0 !important;}
.noMr{ margin-right:0 !important;}
.noMb{ margin-bottom:0 !important;}
.noMl{ margin-left:0 !important;}
.noPt{ padding-top:0 !important;}
.noPr{ padding-right:0 !important;}
.noPb{ padding-bottom:0 !important;}
.noPl{ padding-left:0 !important;}
.noBt{ border-top:none !important;}
.noBr{ border-right:none !important;}
.noBb{ border-bottom:none !important;}
.noBl{ border-left:none !important;}


/*container*/
#container{ width:640px; margin:0 auto; overflow:hidden;}

/*top*/
#top{ font-size:2.4rem; color:#1364b6; padding:1.5625% 0; background:#eee;}
#top dt{ width:50%;}
#top dt a{ margin:0 3.125%;}
#top dd{ width:50%; color:#000;}
#top dd i{ color:#f00;}

/*nav*/
#nav{ text-align:center; font-size:2.4rem; color:#1364b6;}
#nav a{ width:100%;}
#nav em{ width:30%;}
#nav li{ float:left; width:24.5%; margin:0 0.66666666666666% 0.5% 0; background:#ececec; border:1px solid #dadada; box-shadow:0 0 1px #dadada; box-sizing:border-box;}
#nav li:nth-of-type(4n){ margin-right:0;}
#nav li:nth-of-type(n+4){ margin-bottom:0;}
#nav p{ line-height:1.3;}





/*night*/
#night{ margin:2% 0 1.6% 0;}

/*tils*/
#tils{ background:#1364b6; font-size:2.8rem; color:#fff; text-align:center; line-height:1.6;}

/*forms*/
#forms{ color:#666666; border:1px solid #1264b7; padding:1.5%; font-size:2.4rem;}
#forms h2{ line-height:1.6;}
#forms em{ margin-right:1.5%;}
#forms i{ color:#f20000;}
#forms form{ margin-top:3%;}
#forms div.clearFix{ margin-bottom:4.8%;}
#forms label[for='man'],#forms label[for='woman']{ width:auto; padding:0 5px;}
#forms label{ width:21%; text-align:right; line-height:1.6;}
#forms input[type='tel'],#forms input[type='text'],#forms textarea{ width:79%; border:1px solid #d6d6d6; font-size:2.4rem; text-indent:10px; line-height:1.6; box-sizing:border-box;}
#forms input[type='submit']{ background:#fa9a00; line-height:1.6; font-size:2.4rem; text-align:center; width:180px; color:#fff;}
#forms div.submit{ margin-bottom:4.8%; text-align:center;}

/*footer*/
#footer{ padding: 4.6875% 1.5625% 12.8125% 1.5625%; background:#0068af; margin-top:3.125%; font-size:2.4rem; color:#fff; text-align:center; line-height:2.7;}
#footer div{ margin-top:3%; padding-top:3%; border-top:2px solid #fff;}

/*fixedNav*/
#fixedNav{width:100%;height:40px;position:fixed; left:0; bottom:0px;}
#fixedNav img{ width:auto; height:auto; margin-right:5px;}
#fixedNav a{display:block;height:40px;line-height:40px;overflow:hidden;font-size:14px;text-align:center;color:#fff;text-decoration:none;float:left;position:relative;}
#fixedNav a.phone{width:33%;background:#368ce1;}
#fixedNav a.home{width:34%;background:#F4C628;}
#fixedNav a.message{width:33%;background:#368ce1;}

/*media*/
@media (min-width:480px) and (max-width:639px){
	/*html*/
	html{ font-size:46.875%;}
	/*container*/
	#container{ width:100%;}
}
@media (min-width:400px) and (max-width:479px){
	/*html*/
	html{ font-size:39.0625%;}
	/*container*/
	#container{ width:100%;}	
}
@media (min-width:320px) and (max-width:399px){
	/*html*/
	html{ font-size:31.25%;}
	/*container*/
	#container{ width:100%;}	
}









