* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body {
  width: 100%;
  height: 100%;
  background: #000000;
}

div {
  width: 5rem;
  height: 5rem;
  float: left;
  background: #000000;
  background-size: 100% 100%;
}

div:nth-of-type(1) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAsMCw2NDAsNjQwIj4KICAgIDxjaXJjbGUgY3g9IjMyMCIgY3k9IjMyMCIgcj0iMzIwIiBmaWxsPSJyZWQiLz4KPC9zdmc+');
}

div:nth-of-type(2) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAsMCw2NDAsNjQwIj4KICAgIDxjaXJjbGUgY3g9IjMyMCIgY3k9IjMyMCIgcj0iMzIwIiBzdHJva2U9InJlZCIgc3Ryb2tlLXdpZHRoPSI1IiBmaWxsPSJ0cmFuc3BhcmVudCIvPgogICAgPGNpcmNsZSBjeD0iMzIwIiBjeT0iMzIwIiByPSIyMDAiIHN0eWxlPSJzdHJva2U6Ymx1ZTtmaWxsOnRyYW5zcGFyZW50O3N0cm9rZS13aWR0aDo1OyIvPgo8L3N2Zz4=');
}

div:nth-of-type(3) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAsMCw2NDAsNjQwIj4KICAgIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSJyZWQiIHN0cm9rZS13aWR0aD0iNSIgcng9IjEwIiByeT0iMTAiLz4KICAgIDxyZWN0IHg9IjEwMCIgeT0iMTAwIiB3aWR0aD0iNDQwIiBoZWlnaHQ9IjQ0MCIgZmlsbD0idHJhbnNwYXJlbnQiIHN0cm9rZT0iYmx1ZSIgc3Ryb2tlLXdpZHRoPSI1IiByeD0iMTAiLz4KPC9zdmc+');
}

div:nth-of-type(4) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAsMCw2NDAsNjQwIj4KICAgIDxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjY0MCIgeTI9IjY0MCIgc3Ryb2tlPSJyZWQiIHN0cm9rZS13aWR0aD0iNSIgc3Ryb2tlLW9wYWNpdHk9IjAuOCIvPgogICAgPGxpbmUgeDE9IjY0MCIgeTE9IjAiIHgyPSIwIiB5Mj0iNjQwIiBzdHJva2U9ImJsdWUiIHN0cm9rZS13aWR0aD0iNSIgc3Ryb2tlLW9wYWNpdHk9IjAuOCIvPgogICAgPGxpbmUgeDE9IjAiIHkxPSIzMjAiIHgyPSI2NDAiIHkyPSIzMjAiIHN0cm9rZT0ieWVsbG93IiBzdHJva2Utd2lkdGg9IjUiIHN0cm9rZS1vcGFjaXR5PSIwLjgiLz4KPC9zdmc+');
}

div:nth-of-type(5) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAsMCw2NDAsNjQwIj4KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyMCwzMjApIiBzdHJva2Utd2lkdGg9IjUiIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9InJlZCI+CiAgICAgICAgPGNpcmNsZSByPSIzMjAiLz4KICAgICAgICA8Y2lyY2xlIHI9IjMwMCIvPgogICAgICAgIDxjaXJjbGUgcj0iMjgwIi8+CiAgICAgICAgPGNpcmNsZSByPSIyNjAiLz4KICAgICAgICA8Y2lyY2xlIHI9IjI0MCIvPgogICAgICAgIDxjaXJjbGUgcj0iMjIwIi8+CiAgICAgICAgPGNpcmNsZSByPSIyMDAiLz4KICAgICAgICA8Y2lyY2xlIHI9IjE4MCIvPgogICAgICAgIDxjaXJjbGUgcj0iMTYwIi8+CiAgICA8L2c+Cjwvc3ZnPg==');
}

div:nth-of-type(6) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAsMCw2NDAsNjQwIj4KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyMCwzMjApIiBzdHJva2Utd2lkdGg9IjUiIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9InJlZCI+CiAgICAgICAgPGNpcmNsZSByPSIzMjAiLz4KICAgICAgICA8dGV4dCBmb250LXNpemU9IjEwMCIgY29sb3I9IiNmMDAiIHRleHQtYW5jaG9yPSJtaWRkbGUiPmhhaGE8L3RleHQ+CiAgICA8L2c+Cjwvc3ZnPg==');
  cursor: pointer;
}

div:nth-of-type(7) {
  border-radius: 50%;
  overflow: hidden;
}

div:nth-of-type(8) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAsMCw2NDAsNjQwIj4KICAgIDxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjY0MCIgeTI9IjY0MCIgc3Ryb2tlPSJyZWQiIHN0cm9rZS13aWR0aD0iNSIgc3Ryb2tlLW9wYWNpdHk9IjAuOCIvPgogICAgPGxpbmUgeDE9IjY0MCIgeTE9IjAiIHgyPSIwIiB5Mj0iNjQwIiBzdHJva2U9ImJsdWUiIHN0cm9rZS13aWR0aD0iNSIgc3Ryb2tlLW9wYWNpdHk9IjAuOCIvPgogICAgPGxpbmUgeDE9IjAiIHkxPSIzMjAiIHgyPSI2NDAiIHkyPSIzMjAiIHN0cm9rZT0ieWVsbG93IiBzdHJva2Utd2lkdGg9IjUiIHN0cm9rZS1vcGFjaXR5PSIwLjgiLz4KPC9zdmc+');
}
