@charset "gb2312";
/* CSS Document */
@import 'base.css';
@bg:#000;
@f:#fff; 
.tl(@text:center){
	text-align:@text;
}
//我是注释
div{
	background:@bg;
 	color:@f;
	width:200px;
	height:200px;
	line-height:100px;
	font-size:20px;
	margin:0 auto;
	p{ 
		.tl;		
	};
	h2{
		.tl(right);
	};
}