*{
        margin:0;
        padding:0;
}
html{
        font-size:64px;
}
body{
        font:14px/1 "Microsoft YaHei";
}
#container{
        width:640/64rem;
        margin:0 auto;
        text-align:center;
        background:#000000;
        img{
                width:374/64rem;
                height:141/64rem;
        }
        p{
                font-size:30/64rem;
                line-height:1.5;
                color:#ff0000;
        }
}