@charset "gb2312";
/* CSS Document */
/*banner*/
#banner{ background:url(../images/banner.jpg) center center no-repeat; margin-bottom:20px;}
#banner div{ position:relative; height:500px;}
#banner a{ width:170px; height:50px; position:absolute; right:230px; bottom:150px;}

/*main*/
#main{ margin-top:30px;}
#main dl{ padding:60px 0; border-bottom:1px solid #c1c1c1;}
#main dl.reStyle{ border-bottom:none; padding-bottom:0;}
#main dl.noPt{ padding-top:0;}
#main dd{ width:460px; height:280px; font-size:16px; color:#646464; line-height:26px; text-indent:30px; position:relative;}
#main a{ position:absolute; right:0; bottom:10px;}
#main i{ color:#006fb5;}

/*common*/
.til{ font-size:40px; color:#006ab6; margin:60px 0;}
.til small{ font-size:22px; color:#606060; margin-left:10px;}

/*contrast*/
#contrast{ width:1000px; margin:0 auto;}

/*zoompic*/
#zoomPic{ height:351px; position:relative;}
#zoomPic img{ transition:0s;}
#zoomPic ul{ height:100%; position:relative;}
#zoomPic li{ position:absolute; transition:0s;}
#zoomPic li.zoomPic1{ left:0; top:25px; }
#zoomPic li.zoomPic2{ left:211px; top:0;}
#zoomPic li.zoomPic3{ right:0; top:25px;}
#zoomPic span{ width:51px; height:105px; position:absolute; top:123px; cursor:pointer;}
#zoomPic span.prev{ left:-61px; background:url(../images/prev.jpg) center center no-repeat;}
#zoomPic span.next{ right:-61px; background:url(../images/next.jpg) center center no-repeat;}