@charset "gb2312";
/* CSS Document */
/*********************************
 *rookie QQ:1123486116
 *rookie making
 *rookie Copyright
**********************************/
/*banner*/
#banner{ text-align:center;}
#banner a{ display:inline-block;}

/*recovery*/
#recovery{ text-align:center;}

/*reason*/
#reason dl{ margin-bottom:20px; color:#fff;}
#reason dl:last-child{ margin-bottom:0;}
#reason dt{ line-height:34px; font-size:18px; text-align:center; background:#0064b4;}
#reason dd{ line-height:20px; font-size:14px; padding:10px; background:#3383c3;}
#reason dl:nth-of-type(2) dt{ background:#44bd7d;}
#reason dl:nth-of-type(2) dd{ background:#70d5a0;}
#reason dl:nth-of-type(3) dt{ background:#f2457b;}
#reason dl:nth-of-type(3) dd{ background:#f56a95;}
#reason dl:nth-of-type(4) dt{ background:#dfab34;}
#reason dl:nth-of-type(4) dd{ background:#e5bc5d;}

#case dl{ margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #dadada;}
#case dl:last-of-type{ margin-bottom:0; padding-bottom:0; border-bottom:none;}
#case dt{ margin-bottom:5px;}
#case p{ font-size:18px; color:#444444; line-height:25px;}
#case i{ color:#0064b4;}

/*common*/
.btn{ text-align:center; width:84%; margin:20px auto 0;}
.btn a{ border-radius:5px; line-height:36px; background:#0167b7; font-size:16px; color:#fff; width:46%;}
.btn a:last-child{ background:#f96300;}
.btn em{ vertical-align:middle; margin-right:10px;}
.til{ margin:30px 0 20px; text-align:center; color:#2e8aca; font-size:20px; border-bottom:2px solid #d3d3d3; position:relative;}
.til b{ line-height:40px; border-bottom:2px solid #0064b4; margin-bottom:-2px;}
.til:nth-of-type(1){ margin-top:10px;}
.til:after{ content:""; display:block; width:10px; height:10px; background:url(../images/title.jpg); position:absolute; left:50%; margin-left:-5px; bottom:-5px;}



