@charset "gb2312";
/* CSS Document */
/*********************************
 *rookie QQ:1123486116
 *rookie making
 *rookie Copyright
**********************************/
/*banner*/
#banner{ position:relative; margin-bottom:10px; overflow:hidden;}
#banner .prev,#banner .next{ width:45px; height:80px; position:absolute; top:50%; margin-top:-40px; z-index:2;}
#banner .prev{ left:0;}
#banner .next{ right:0;}
#banner ul{ width:9000px;}
#banner li{ float:left;}
#banner a{ display:block;}
#banner img{ width:100%;}

/*seat*/
#seat{ border-bottom:2px solid #dedddd;}
#seat div{ border:3px solid #dedddd; background:#0aa0b4; margin-bottom:5px;}
#seat a{ display:block; float:left; font-size:20px; color:#fff; line-height:2.6; padding:0 3% 0 2%; position:relative; border-radius:0 50% 50% 0; border-right:2px solid #fff;}

/*text*/
#text{ color:#656565; padding-bottom:5%; border-bottom:1px dashed #dedddd;}
#text h2{ font-size:2.8rem; line-height:3; text-align:center;}
#text div.times{ padding-bottom:5px; border-bottom:1px dashed #dedddd; margin-bottom:5px;}
#text span{ font-size:16px; line-height:1.5;}
#text span.fl{ width:43%; text-align:right;}
#text span.fr{ width:53%; text-align:left;}
#text span a{ color:#e10000;}
#text p{ text-indent:30px; font-size:18px; line-height:24px; margin-bottom:4%; padding:0 10px; word-break:break-all;}
#text .text-btn{ display:block; position:relative;}
#text .text-btn img{ width:100%;}
#text .text-btn a{ display:block; width:50%; height:100%; position:absolute; top:0;}
#text .text-btn a:nth-of-type(1){ left:0;}
#text .text-btn a:nth-of-type(2){ right:0;}

/*active*/
#active img{ margin-bottom:4%;}
#active ul img{ width:100%;}
#active p{ font-size:3.2rem; line-height:1.7; color:#656565; padding-left:10px;}
#active .active-btn{ width:50%; margin:2% 0 6% 10px;}
#active .active-btn a{ width:46%; text-align:center; font-size:3.2rem; line-height:1.6; color:#d80000; border:1px solid #d80000; border-radius:10px;}

/*expert*/
#expert{ border-bottom:1px dashed #777777; border-top:1px dashed #777777;}
#expert #ul-box{ overflow:hidden; border:1px solid #d0d0d0; margin-bottom:15px;}
#expert ul li{ background:#efefef;}
#expert dt,#expert dd{ width:50%; float:left;}
#expert img{ width:100%;}
#expert h2{ font-size:4.8rem; line-height:1.8; color:#000; margin-left:5%;}
#expert small{ font-size:2.8rem; margin-left:3%;}
#expert p{ font-size:2.5rem; line-height:2; color:#666666; margin-left:5%;}
#expert h3{ font-size:2.4rem; line-height:1.2; color:#666666; margin-left:5%;}
#expert li a{ display:block; width:70%; font-size:2.4rem; line-height:2.5; background:#0a8e9e; text-align:center; color:#fff; margin:10px auto 0; border-radius:10px;}
#expert a.expert-phone,#expert a.expert-btn{ display:block;}
#expert a.expert-phone{ border-top:1px dashed #e0e0e0; border-bottom:1px dashed #e0e0e0;}
#expert a.expert-phone img,#expert a.expert-btn img{ width:100%;}
#expert .expert-btn{ margin:5% 0; position:relative;}
#expert .expert-btn a{ display:block; width:50%; height:100%; position:absolute; top:0;}
#expert .expert-btn a:nth-of-type(1){ left:0;}
#expert .expert-btn a:nth-of-type(2){ right:0;}

/*equipment*/
#equipment{ margin-bottom:20px; border-bottom:1px dashed #777777;}
#equipment ul li{ position:relative;}
#equipment div.txt{ color:#282828; padding:0 10px 7%; background:rgba(255,255,255,0.5); width:56%; position:absolute; right:0; top:7%;}
#equipment h2{ font-size:3.2rem; text-align:center; line-height:2.8;}
#equipment p{ font-size:2.4rem; word-break:break-all; line-height:1.25;}
#equipment img{ width:100%;}
#equipment .equipment-btn{ margin-top:20px; padding:5% 0; border-top:1px dashed #e0e0e0;}
#equipment .equipment-btn div{ position:relative;}
#equipment .equipment-btn a{ display:block; width:50%; height:100%; position:absolute; top:0;}
#equipment .equipment-btn a:nth-of-type(1){ left:0;}
#equipment .equipment-btn a:nth-of-type(2){ right:0;}

/*common*/
.til-box{ position:relative;}
.til{ font-size:4rem; line-height:2; color:#656565; padding-left:10px;}
ol.btn{ position:absolute; right:0; top:50%; margin-top:-15px;}
ol.btn li{ width:30px; height:30px; margin:0 5px; background:#dcdcdc; border-radius:50%; float:left; cursor:pointer;}
ol.btn li.on{ background:#0aa0b4;}


/*media*/
@media (min-width: 480px) and (max-width: 639px){
	/*banner*/	
	#banner .prev,#banner .next{ width:32px; margin-top:-30px;}
	/*#seat*/
	#seat a{ font-size:16px;}
	#seat div{ border:2px solid #dedddd;}
	/*text*/
	#text span{ font-size:14px;}
	#text p{ font-size:16px; line-height:22px;}
	/*common*/
	ol.btn{ margin-top:-10px;}
	ol.btn li{ width:20px; height:20px;}
}
@media (min-width: 320px) and (max-width: 479px){
	/*banner*/	
	#banner .prev,#banner .next{ width:22px; margin-top:-20px;}
	/*#seat*/
	#seat{ border-bottom:1px solid #dedddd;}
	#seat a{ font-size:12px;}
	#seat div{ border:1px solid #dedddd;}
	/*text*/
	#text span{ font-size:12px;}
	#text p{ font-size:14px; line-height:20px;}
	/*common*/
	ol.btn{ margin-top:-5px;}
	ol.btn li{ width:10px; height:10px;}
}