@charset "gb2312";
/* CSS Document */
/*********************************
 *rookie QQ:1123486116
 *rookie making
 *rookie Copyright
**********************************/
@import "base.less";
/*guahao*/
#guahao{
        width:933px;
        margin:0 auto;
        font-size:14px;
        color:#2b2b2b;
        word-spacing:30px;
        em,span{
                display:inline-block;
        }
        input,textarea{
                background:#ffffff;
                border:1px solid #c9c9c9;
                width:144px;
                height:14px;
                padding:5px 5px;
                border-radius:5px;
        }
        .sex input{
                width:auto;
                margin:0 2px 0 6px;
                vertical-align:middle;
        }
        h2{
                height:26px;
                line-height:26px;
                margin-bottom:10px;
        }
        .sex-age-tel{
                margin-left:40px;
        }
        .age{
                margin-left:30px;
                span{
                        width:auto;
                }
                input{
                        width:50px;
                }
        }
        .tel input{
                width:192px;
        }
        span{
                width:70px;
        }
        dl{
                position:relative;
                dt{
                        padding:20px 0 40px;
                }
                dd.guahao-title{
                        text-align:center;
                        font-size:18px;
                        height:20px;
                        line-height:20px;
                        width:100%;
                        position:absolute;
                        left:0;
                        bottom:0;
                        color:#666;
                }
                dd.guahao-title.guahao-red{
                        color:#d10000;
                }
                dd.guahao-title.guahao-green{
                        color:#0067b7;
                }
        }
        textarea{
                width:610px;
                height:70px;
        }
        .description{
                height:auto;
                padding-bottom:20px;
                margin-bottom:0;
                span{
                        vertical-align:top;
                }
        }
        .fr{
                width:190px;
                padding-top:30px;
                em{
                        color:#d10000;
                        font-size:12px;
                        line-height:20px;
                        padding-top:6px;
                }
                input{
                        width:180px;
                        height:60px;
                        background:#0067b7;
                        font-size:24px;
                        font-weight:bold;
                        color:#ffffff;
                        border:none;
                }
        }
        #time{
                background:url("../images/guahao-time.jpg") 132px center no-repeat;
        }
}