@charset "gb2312";
/* CSS Document */

/*清零*/
body,div,ol,ul,li,dl,dd,dt,h1,h2,h3,h4,p,img{ padding:0; margin:0; font-weight:normal;}
body{ font-size:14px; font-family:"微软雅黑",Verdana,Arial,"宋体","微软雅黑";}
img{ border:none; outline:none;}
ul,ol{ list-style-type:none;}
p{ line-height:25px;}
em,i,strong,b,small{ font-style:normal; font-weight:normal;}
a,span,b,em,i,strong,small,img{ display:inline-block;}
em{ transition:all 1s; -webkit-transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s;}
a{ outline:none; text-decoration:none; color:#000; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s;}

/*清楚浮动*/
.clearFix{ clear:both; *zoom:1;}
.clearFix:after{ clear:both; display:block; visibility:hidden; height:0; line-height:0; content:""; font-size:0;}

/*公用的样式*/
.fl{ float:left;}
.fr{ float:right;}
.commonWidth{ width:100%; margin:0 auto; overflow:hidden;}
.commonWidth_320{ width:320px; margin:0 auto; overflow:hidden;}

/*main*/
.main2{ width:320px; margin:0 auto; overflow:hidden; background:#f8f8f8;}

/*banners*/
.banners_til{ border-bottom:1px solid #999; width:300px; padding-bottom:5px; margin:20px auto;}
.banners_til em{ width:12px; height:12px; border-radius:20px; border:2px solid #1364b6; vertical-align:middle; margin-right:5px;}
.banners_til a{ line-height:20px; font-size:16px;}


/*common*/
.common_btn{ text-align:center;}
.common_btn a{ border-radius:5px 0 0 5px; line-height:36px; background:#0167b7; font-size:16px; color:#fff; padding:0 10px; margin-right:10px;}
.common_btn .last_a{ margin-right:0; border-radius:0 5px 5px 0;}
.common_btn em{ vertical-align:middle; margin-right:10px;}
.dashed_line{ width:296px; height:0px; border-top:1px dashed #808080;}
.media,.ad{ width:300px; margin:0 auto;}


/*media*/
.media{ padding-bottom:20px;}
.media li{ width:142px; float:left; margin-right:16px;}
.media li img{ width:140px; vertical-align:middle; border:1px solid #1364b6;}
.media li p{ color:#646464; text-align:center; line-height:46px;}
.media li h3{ color:#1364b6; text-align:center; line-height:46px; font-size:14px;}
.media .common_btn{ margin-top:10px;}

/*ad*/
.ad{ margin-bottom:20px;}
.ad img{ width:296px;}

/*about*/
.about { padding-bottom:10px; border:#1364b6 1px solid; width:300px; margin:0 auto;}
.about h2 { padding-left:15px; height:37px; margin-bottom:10px; background:#1364b6; font-size:16px; font-weight:100; font-family:'Microsoft Yahei'; line-height:37px; color:#fff; }
.about dl{ width:300px; margin:0 auto; overflow:hidden;}
.about dd{ width:100%; height:33px; margin-top:6px; font-size:14px; font-weight:700; line-height:33px;}
.about dd a{ display:inline; text-align:center; color:#FFF;}
.about dd a.a01{ float:left; background:#91c1e9; width:170px; margin-right:4px; }
.about dd a.a02{ float:right; background:#db7077; width:126px; }
.about dd a.a03{ float:left; background:#d0454e; width:134px; margin-right:4px;  }
.about dd a.a04{ float:right; background:#e1822a; width:162px; }
.about dd a.a05{ float:left; background:#13b9ad; width:170px; margin-right:4px;  }
.about dd a.a06{ float:right; background:#f3b174; width:126px; }